body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content:center ;
  margin: 20vh;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.textt{
  font-size: large;
  display: flex ;
  
}
.text2{
  font-size: medium;
  font-weight: 500;
  padding-left: 30px;
}
.button{
  justify-content:center ;
  background-color: aquamarine ; 
  border-collapse: collapse;
  border-radius: 10px;
  margin-left: 60px;
  font-size: larger;
}

.cal{
  margin-left: 40px;
}